    <header>
        <nav id="main-nav">
            <div class="wrapper">
                <ul>
                    <li><a routerLink="/blog">Blog</a></li>
                    <li><a routerLink="#">About Us</a></li>
                    <li><a routerLink="/lesson">Lessons</a></li>
                    <li><a routerLink="#">Portfolio</a></li>
                    <li><a routerLink="#">Blog</a></li>
                    <li><a routerLink="#">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
