a{
    text-decoration: none;
    padding: 2vw;
}
a:hover{
    background-color: antiquewhite;
}

nav{
    width: 100vw;
    background-color: aqua;
}

ul{
    margin: 0;
    padding: 2vh;
    display: flex;
}

body{
    margin: 0;
}

li{
    list-style-type: none;
    margin: 0 2vw;
    font-size: 3vh;
}

.cabecera{
    padding: 4vh;
}
.cabecera *{
    margin: 10px;
}

li *{
    margin: 1vh;

}
